<form *ngIf="token$ | async as token ; else elseBlock" #newPostForm="ngForm" (ngSubmit)='addPost(newPostForm.value, token.token)' id="NewPost">
  <div class="form-group">
    <input name='title' type="text" class="form-control" id="inputTitle" placeholder="Title" required ngModel>
  </div>
  <div class="form-group">
    <textarea name='content' class="form-control" id="inputContent" placeholder="Content" required ngModel>
    </textarea>
  </div>
  <button type="submit" class="btn btn-primary">Create post</button>
</form>
<div ng-show="hasError">
  <div *ngFor="let error of errors" class="alert alert-danger" role="alert">
    {{error}}
  </div>
</div>
<ng-template #elseBlock>
<div class="alert alert-danger" role="alert">
  You must log in before creating posts
</div>
</ng-template>
